{% extends "video_app/main.html" %}
{% load static %}

{% block body %}
<div class="mt-3 mb-3 page_title_holder">
    <h1 class="page_title">Stream Response</h1>
</div>

{% if  video_url%}
    <div class="response_vid">
        <video style= "width: 80%; height: 400px;"  controls>
            <source src="{{ video_url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
{% endif %}
    <hr>

    <div class="mt-3 mb-3 page_title_holder">
        <h1 class="page_title">Predicted Texts:</h1>
    </div>

    <div class="list list-group list-group-flush">
        <ul>
            {% if error %}
                <li class="list-group-item text-danger">Server Message: {{ error }}</li>
            {% endif %}
            {% for text in predicted_texts %}
                <li class="list-group-item">{{ text }}</li>
            {% endfor %}
        </ul>
    </div>





    <script>
        // Function to fetch the URL and refresh the page if the response is true
        function checkAndRefresh() {
            fetch('/detect_refresh/')
                .then(response => response.json()) // Assuming the response is in JSON format
                .then(data => {
                    if (data.statue === true) {
                        // If response is true, refresh the page
                        location.reload();
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        // Call checkAndRefresh function initially
        checkAndRefresh();

        // Set interval to repeat the process every 2 seconds
        setInterval(checkAndRefresh, 2000); // 2000 milliseconds = 2 seconds
    </script>
</body>
{% endblock body %}

