{% extends "video_app/main.html" %}
{% load static %}


{% block body %}


<div class="container">
    <h1>Upload Text</h1>
    <form id="textForm" method="post">
            {% csrf_token %}

        <div class="form-group">
            <label for="text_input">Enter Text:</label>
            <input type="text" class="form-control" id="text_input" name="text_input" placeholder="Enter text here" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div id="result" class="mt-3"></div>
</div>

    
    {% endblock body %}