hr {
    border: none;
    border-top: 1px solid #dee2e6;
}

#stream_con {
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative; /* Make the container a reference point for positioning */
    width: 100%;  /* Set desired width for the combined video and canvas */
    height: 480px; /* Set desired height for the combined video and canvas */
}

#video {
    transform: scaleX(-1); /* Flip horizontally for non-mirrored display */
    border: rgb(255, 195, 85) 5px solid;
}
#video, #canvas, #response_vid{
    position: absolute; /* Make elements stack on top of each other */
    top: 0;             /* Position both elements at the top of the container */
    left: calc((100% - 640px) / 2);            /* Position both elements at the left of the container */
}

#message {
    position: absolute; /* Make elements stack on top of each other */
    top: 50%;             /* Position both elements at the top of the container */
    left: 50%;            /* Position both elements at the left of the container */
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: red;
    display: none; /* Hide by default */
}


/*                                                                                     */
.page_title_holder{
    background-color: #eeeeee8a;
    vertical-align: middle;
    padding: 5px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.page_title {
    color: rgb(255, 195, 85);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: "Black Ops One";
    font-weight: 400;
    font-style: normal;
}
.video {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
    row-gap: 20px;
}

.video form {
    width: calc(100%);
    display: flex;
    justify-content:space-between;
}

.list {
    margin-left: 10px;
    ul li{
        border: none;
        color: #198754;
        font-size: 30px;
    }
}

.text-danger{
    color: #dc3545 !important;
}


.index_button {
    display: flex;
    justify-content: center;
    column-gap: 10%;
    margin-top: 30vh;
    a {
        font-size: 36px;
    }
    img {
        width: 400px;
        height: 400px;
    }
}

.response_vid{
    display: flex;
    justify-content: center;
}

#response_span {
    color: #198754;

}


.container_form {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;

.buttons_rec {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
}

audio {
    width: 100%;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    column-gap: 10px;
}

label {
    font-size: 20px;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 50%;
    box-sizing: border-box;
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}


#result {
    margin-top: 8px;
    background-color: #e9ecef;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    p {
        margin: 0;
    }
}

}
