#stream_con {
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative; /* Make the container a reference point for positioning */
    width: 100%;  /* Set desired width for the combined video and canvas */
    height: 480px; /* Set desired height for the combined video and canvas */
}

#video {
    transform: scaleX(-1); /* Flip horizontally for non-mirrored display */
    border: rgb(255, 195, 85) 5px solid;
}
#video, #canvas {
    position: absolute; /* Make elements stack on top of each other */
    top: 0;             /* Position both elements at the top of the container */
    left: calc((100% - 640px) / 2);            /* Position both elements at the left of the container */
}

#message {
    position: absolute; /* Make elements stack on top of each other */
    top: 50%;             /* Position both elements at the top of the container */
    left: 50%;            /* Position both elements at the left of the container */
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: red;
    display: none; /* Hide by default */
}


/*                                                                                     */
.page_title_holder{
    background-color: #eeeeee8a;
    vertical-align: middle;
    padding: 5px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.page_title {
    color: rgb(255, 195, 85);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: "Black Ops One";
    font-weight: 400;
    font-style: normal;
}
.video {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
    row-gap: 20px;
}

.video form {
    width: calc(100%);
    display: flex;
    justify-content:space-between;
}

.list {
    margin-left: 10px;
    ul li{
        border: none;
        color: #198754;
        font-size: 30px;
    }
}

.text-danger{
    color: #dc3545 !important;
}


.index_button {
    display: flex;
    justify-content: center;
    column-gap: 10%;
    margin-top: 30vh;
    a {
        font-size: 36px;
    }
}

.response_vid{
    display: flex;
    justify-content: center;
}